@media screen and (max-width: 1150px){

    :root{
        font-size: 13px;
    }
    section.stats{
        height: 700px;
    }

    div.repositories{
        flex-direction: column;
    }

    .center{
        width: 85%;
    }

    .center img{
        width: 30px;
        height: 30px;
    }

    .infoContainer{
        width: 90%;
    }
    .arrowTop{
        width: 60px;
        height: 60px;
    }
    .aboutMain{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .aboutCard{
        width: 40%;
        height: 200px;
        padding: 20px;
        border-radius: 20px;
    
        background-color: rgb(60, 60, 60);
        box-shadow:  0 0 5px 0px rgb(122, 122, 122);
        text-align: justify;
    }

    section.projects{
        height: 3000px;
    }

    .projectsMain{
        height: 100%;
    }

    .project{
        width: 560px;
        height: 450px;
    }

    .project video{
        width: 520px;
        height: 291px;
    }
}

@media screen and (max-width:560px){

    :root{
        font-size: 11px;
    }

    section.projects{
        height: 2500px;
    }

    .projectsMain{
        height: 100%;
    }

    .project{
        width: 340px;
        height: 300px;
    }

    .project video{
        width: 300px;
        height: 168px;
    }

    .aboutCard{
        width: 80%;
    }

    .projectsFooter img{
        width: 80%;
    }
}

@media screen and (max-width: 400px){

    .themeSwitch{
        height: 31px;
        width: 65px;
    }

    .themeSwitch div{
        height: 29px;
        width: 29px;
    }
    section.mainSection{
        height: 100%;
        flex-wrap: wrap;
    }

    .meInfo{
        width: 100%;
        height: 50%;
    }

    .infoContainer{
        height: 90%;
    }

    .infoContainer > img{
        width: 90px;
        height: 90px;
    }

    .techs{
        width: 100%;
        height: 50%;
    }

    .center{
        height: 90%;
    }
    
    .meInfo strong{
        font-size: 1.1rem;
        max-width: 100px;
        text-align: center;
    }

    a.card{
        width: 200px;
    }

    .project{
        width: 220px;
        height: 250px;
    }

    .project video{
        width: 180px;
        height: 100px;
    }

    .projectsFooter{
        height: 10%;
    }

    .projectsFooter h3{
        flex-direction: column;
    }

    .arrowTop{
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}